.App {
  text-align: center;
}

.cam{
}

#snap-back{
  background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}

#the-snap{

  align-items: center;
  top: 200px;
  width: 500px;


}

.Row{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}
.column{
  display: table-cell;
  border-style: solid;
  
}

.friend-stuff{
  border-style: solid;
  display: inline-block;
  margin: 50px;
  padding: 20px;
  float: left;
}

.snap-container{
    border-style: solid;
    display: inline-block;
    margin: 50px;
    padding: 20px;
    float: right;
}

.camera-container{
  border-style: solid;
  display: inline-block;
  margin: 50px;
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
