.App {
  text-align: center;
}

.cam{
  width: 600px
}

#the-sticker-viewing{
  position: absolute;
  top: 30px;
  left: 35%;
  width: 10%
}

#snap-back{
  background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}

.rec-snap-container{
  overflow-y: scroll;
  height: 300px;
}

.seen-snaps::-webkit-scrollbar:vertical {
    width: 11px;
}

.friend-name{
  display: inline-block;
}

.heart-emoji{
  float: right;
  height: 40px;
}

.seen-snaps{ overflow-y: scroll;
  height: 300px;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: purple;
  /* padding-top: 35px;
  position: relative; */

}

.main-welcome{
  display: inline-block;
}

#the-snap{
 margin-top: 10px;
  width: 600px;
}

.stats{
  float: right;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;

}

.nav{
  padding-left: 10px;

}

#logout{

  float: left;
}



.friend-bitmoji{
  height: 40px;
float: left;
}
.each-friend{
  background-color: white;
  border-style: solid;
  border-width: 1px;
  margin: 4px;
  background-color:  #d0d0e1;
  display: inline-block;
  width: 90%;
  padding: 5px;

}

/* #opened{
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
} */

.recieved-snap{
  background-color:  #ffe6f0;
border-style: solid;
border-width: 1px;
border-color: red;
margin: 4px;
display: inline-block;
width: 90%;
padding: 10px;
border-radius: 10px;

}

.recieved-seen-snap{
  background-color: white;
border-style: solid;
border-width: 1px;
border-color: purple;
margin: 4px;
display: inline-block;
width: 90%;
padding: 10px;
border-radius: 10px;

}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  border-style: solid;

  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.grid-container{
  display: grid;
  /* grid-column-gap: 20px; */
  grid-template-columns: 25vw 50vw 25vw;
  margin-top: 10px;
}

.grid-item {

  border-style: solid;
  padding: 20px;
  text-align: center;
  background-color: yellow;
  height: 100vh;
}

.friend-stuff{
  border-style: solid;
  display: inline-block;
  /* margin: 50px; */
  padding: 20px;
  float: left;
  width: 300px;
}

#the-sticker{
  position: absolute;
  display: inline-block;
  top: 15px;
  left: 20%;
  width: 20%
}

.image-sticker{
  display: inline-block;
}

.snap-container{
    border-style: solid;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.camera-container{
  border-style: solid;
  display: inline-block;
  /* margin: 50px; */
  padding: 20px;
  float: left;
  width: 500px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
